body {
	font-size: 1.4rem;
}

section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

section.text {
	justify-content: center;
}

button {
	margin-right: 0;
	margin-left: 0;
}

h1 {
	line-height: 8rem;
	font-size: 8rem;
	min-width: 6rem;
	margin: 0;
	text-align: center;
}

h2 {
	line-height: 6rem;
	font-size: 6rem;
	color: #fff8;
	margin: 0;
	text-align: center;
}

#code1 {
	color: white;
}